.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
}

.activeLink {
    composes: link;
    color: rgb(74, 43, 3);;
}

.navButton {
    border: none;
    background-color: inherit;
    color: #ffffff;
    align-items: center;
    padding: 12px;
    font-weight: 500;
    font-size: 24px;
}