.formLogin {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    color: black;
    font-size: 20px;
}

.label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 10px;
    text-align: left;
    border: none;
    border-bottom: 3px solid rgb(175, 89, 8);
}

.input:focus {
    outline: none;
    border-bottom: 4px solid rgb(112, 50, 5);
}

.button {
    display: flex;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 0;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
    width: 180px;
    border: 1px solid rgb(175, 89, 8);
    background-color: transparent;
    font-family: inherit;
    font-size: 20px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    cursor: pointer;
    transform: scale(1.1);
}