.searchForm {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.searchFormButton {
    display: inline-block;
    width: 70px;
    height: 48px;
    border: 0;
    opacity: 0.6;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
}

.searchFormButton:hover {
    opacity: 1;
}

.searchFormInput {
    display: inline-block;
    width: 100%;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 6px;
    padding-right: 6px;
}

.searchFormInput::placeholder {
    font: inherit;
    font-size: 20px;
}

.bookCards {
    padding: 20px, 40px;
}

.bookCardsList {
    padding: 30px 0;
}

@media screen and (min-width: 768px) {

    .bookCardsList {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-auto-rows: 460px;
        grid-gap: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .bookCardsList {
        grid-template-columns: repeat(3, 288px);
    }
}

.bookCardWrap {
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 6px;
    width: 100%;
    max-width: 280px;
    border-radius: 5px;
    background-color: #f4f2eb;
    transform: scale(1);
}

.bookCardLink {
    display: block;
    cursor: pointer;
}

.bookCardPoster {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    transform: scale(1);
}

.bookCardWrap:hover {
    transform: scale(1.05);
}

.bookCardTitle {
    display: block;
    padding: 5px 10px;
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.333;
    color: #000;
}

.bookCardAuthor{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.333;
    color: #000;
}

@media screen and (max-width: 767px) {
    .bookCardWrap:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .bookCardPoster {
        width: 276px;
    }
}

@media screen and (min-width: 1024px) {
    .bookCardPoster {
        width: 274px;
    }
}