.bookCardWrap {
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 6px;
  width: 100%;
  max-width: 280px;
  border-radius: 5px;
  background-color: #f4f2eb;
  transform: scale(1);
}

.bookCardLink {
  display: block;
  cursor: pointer;
}

.bookCardPoster {
  width: 260px;
  height: 340px;
  border-radius: 5px;
  transform: scale(1);
}

.bookCardWrap:hover {
  transform: scale(1.05);
}

.bookCardTitle {
  display: block;
  padding: 5px 10px;
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.333;
  color: #000;
}

.bookCardAuthor {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.333;
  color: #000;
}

.bookCardCategory {
  height: 40px;
  align-items: center;
  padding: 7px;
  font-size: 12px;
  color: #000;
}

@media screen and (max-width: 767px) {
  .bookCardWrap:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .bookCardPoster {
    width: 276px;
  }
}

@media screen and (min-width: 1024px) {
  .bookCardPoster {
    width: 266px;
  }
}

.bookCardsList {
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  .bookCardsList {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-auto-rows: 490px;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .bookCardsList {
    grid-template-columns: repeat(3, 275px);
  }
}
