.imageWrap {
  height: auto;
  width: 300px;
}

img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.bookWrap {
  padding-bottom: 20px;
  border-bottom: 3px solid #d26313;
}

@media screen and (min-width: 768px) {
  .bookWrap {
    display: flex;
  }
}

.description {
  margin-left: 10px;
  max-width: 400px;
  padding: 0;
}

.descriptionItem {
  list-style: none;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  text-indent: 20px;
}

.descriptionTitle {
  margin: 0;
  padding-bottom: 15px;
}

h2 {
  color: #d26313;
}

.detailsWrap {
  border-bottom: 3px solid rgb(250, 149, 17);
}

.backBtnWrap {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  text-align: left;
}